Lab 5. WCF/WCF/Services/MasterService/MasterServiceLibrary/Connected Services/NodeService4/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NodeService4" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_INodeService4_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INodeService4_SumOfSquares_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfSquares" />
  </wsdl:message>
  <wsdl:message name="INodeService4_SumOfSquares_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfSquaresResponse" />
  </wsdl:message>
  <wsdl:message name="INodeService4_MagicOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:MagicOperation" />
  </wsdl:message>
  <wsdl:message name="INodeService4_MagicOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MagicOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="INodeService4">
    <wsdl:operation name="SumOfSquares">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeService4/SumOfSquares" message="tns:INodeService4_SumOfSquares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeService4/SumOfSquaresResponse" message="tns:INodeService4_SumOfSquares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MagicOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/INodeService4/MagicOperation" message="tns:INodeService4_MagicOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INodeService4/MagicOperationResponse" message="tns:INodeService4_MagicOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_INodeService4" type="tns:INodeService4">
    <wsp:PolicyReference URI="#NetTcpBinding_INodeService4_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SumOfSquares">
      <soap12:operation soapAction="http://tempuri.org/INodeService4/SumOfSquares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MagicOperation">
      <soap12:operation soapAction="http://tempuri.org/INodeService4/MagicOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NodeService4">
    <wsdl:port name="NetTcpBinding_INodeService4" binding="tns:NetTcpBinding_INodeService4">
      <soap12:address location="net.tcp://localhost:8040/Service4" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8040/Service4</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-T41QO6T\Yuriy</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>