Lab 5. WCF/WCF/Clients/ConsoleCalculatorApplication/Connected Services/CalculatorService/MasterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MasterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMasterService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Modulo_InputMessage">
    <wsdl:part name="parameters" element="tns:Modulo" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Modulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModuloResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Pow_InputMessage">
    <wsdl:part name="parameters" element="tns:Pow" />
  </wsdl:message>
  <wsdl:message name="IMasterService_Pow_OutputMessage">
    <wsdl:part name="parameters" element="tns:PowResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_SumOfSquares_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfSquares" />
  </wsdl:message>
  <wsdl:message name="IMasterService_SumOfSquares_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfSquaresResponse" />
  </wsdl:message>
  <wsdl:message name="IMasterService_MagicOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:MagicOperation" />
  </wsdl:message>
  <wsdl:message name="IMasterService_MagicOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:MagicOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMasterService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/Add" message="tns:IMasterService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/AddResponse" message="tns:IMasterService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/Substract" message="tns:IMasterService_Substract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/SubstractResponse" message="tns:IMasterService_Substract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/Multiply" message="tns:IMasterService_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/MultiplyResponse" message="tns:IMasterService_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/Divide" message="tns:IMasterService_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/DivideResponse" message="tns:IMasterService_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/Modulo" message="tns:IMasterService_Modulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/ModuloResponse" message="tns:IMasterService_Modulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pow">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/Pow" message="tns:IMasterService_Pow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/PowResponse" message="tns:IMasterService_Pow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfSquares">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/SumOfSquares" message="tns:IMasterService_SumOfSquares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/SumOfSquaresResponse" message="tns:IMasterService_SumOfSquares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MagicOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMasterService/MagicOperation" message="tns:IMasterService_MagicOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMasterService/MagicOperationResponse" message="tns:IMasterService_MagicOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMasterService" type="tns:IMasterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMasterService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <soap:operation soapAction="http://tempuri.org/IMasterService/Substract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/IMasterService/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/IMasterService/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modulo">
      <soap:operation soapAction="http://tempuri.org/IMasterService/Modulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pow">
      <soap:operation soapAction="http://tempuri.org/IMasterService/Pow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfSquares">
      <soap:operation soapAction="http://tempuri.org/IMasterService/SumOfSquares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MagicOperation">
      <soap:operation soapAction="http://tempuri.org/IMasterService/MagicOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterService">
    <wsdl:port name="BasicHttpBinding_IMasterService" binding="tns:BasicHttpBinding_IMasterService">
      <soap:address location="http://localhost:8080/Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>